.header .wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hidden {
    display: none !important;
}

.order-form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.order-form h2 {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

legend {
    font-weight: bold;
    background-color: #fff;
    margin-bottom: 10px;
}

fieldset {
    padding: 30px;
    margin-bottom: 20px;
    border: 0;
    display: grid;
    grid-template-columns: 100px 1fr 150px;
    align-items: baseline;
    grid-gap: 10px;
    width: 600px;
    max-width: 500px;

    -webkit-box-shadow: 3px 2px 12px 0px var(--brand-violet);
    -moz-box-shadow: 3px 2px 12px 0px var(--brand-violet);
    box-shadow: 3px 2px 12px 0px var(--brand-violet);
}

fieldset:last-of-type .error {
    grid-column: span 2;
}

input {
    margin: 2px 0 10px 0;
}


input:invalid + span.error::before {
  content: "✖";
  color: red;
  margin-right: 5px;
}

input:valid + span.error::before {
  content: "✓";
  color: green;
  margin-right: 5px;
}

.group-label {
    margin-bottom: 10px;
}

label#payment-type.invalid + span::before {
  content: "✖";
  color: var(--brand-danger);
  margin-right: 5px;
}

label#gifts {
    grid-column: span 3;
}

.radio-group {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    margin-bottom: 10px;
    grid-column: span 3;
}

.form-summary {
    line-height: 1.5;
    width: 100%;
    margin: 0 auto;
    visibility: hidden;
}

.form-summary.visible {
    visibility: visible;;
}

.form-summary__header {
    width: 100%;
}

.summary-row-label {
    font-weight: bold;
}