:root{
    --brand-color: #ABD1B5;
    --brand-darker-color: #79B791;
    --brand-dark-color: #396A4C;
    --brand-accent: #8DAEE2;
    --brand-darker-accent: #3066BE;
    --brand-dark-accent: #264F92;

    --brand-danger: #B7245C;
    --brand-focus: #ff683b;
    --brand-highlight: #ffa600;

    --brand-text-color: #212738;
    --brand-text-light-color: ivory;
}


/* candy pop - latin */
@font-face {
  font-family: 'Candy pop';
  font-style: normal;
  src: local(''),
       url('../fonts/Candy_Pop!-demo-font.ttf')
}

/* simplicity - latin */
@font-face {
  font-family: 'simplicity';
  font-style: normal;
  src: local(''),
       url('../fonts/simplicity.ttf')
}

body {
    max-width: 1280px;
    margin: 0 auto;
    color: var(--brand-text-color);
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    vertical-align: text-top;
    color: var(--brand-dark-color);
}

input[type='checkbox']::before {
    content: "✔";
    position: absolute;
    right: -1px;
    top: -0.3em;
    font-size: 1.2em;
    visibility: hidden;
}

input[type='checkbox']:checked::before {
    visibility: visible;
}

input[type="checkbox"]:disabled {
  border-color: lightgray;
  background: #eee;
  color: gray;
}

input[type='radio'] {
    appearance: none;
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid gray;
    vertical-align: text-top;
    color: var(--brand-dark-color);
}

input[type='radio']::before {
    content: "●";
    position: absolute;
    right: 2px;
    top: -0.24em;
    font-size: 1.2em;
    visibility: hidden;
}

input[type='radio']:checked::before {
    visibility: visible;
}

input:invalid {
    border: 1px solid var(--brand-danger);
}

input:active {
    border: 1px solid var(--brand-highlight);
}

.header {
    height: 70px;
    background-color: var(--brand-darker-color);
}

.header__ico {
    padding: 6px;
    color: var(--brand-text-light-color);
    font-family: 'Candy pop';
    font-size: 24px;
}

.header__motto {
    color: var(--brand-dark-color);
    font-size: 20px;
    font-family: 'simplicity';
    letter-spacing: 0.2em;
}

.header__bag {
    color: var(--brand-text-light-color);
}

.header__bag-ico {
    width: 20px;
}

.header__bag-sum {
    padding: 8px;
}

.footer {
    height: 50px;
}

div, h1, h2, h3, h4, p {
    font-style: normal;
    font-weight: 400;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

button, .button {
    padding: 10px 32px;;
    background-color: var(--brand-darker-color);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
}

button:disabled {
    background-color: var(--brand-color);
    color: gray;
}

button:not([disabled]):hover {
    background-color: var(--brand-dark-color);
    color: var(--brand-text-light-color);
}

button:not([disabled]) {
    background-color: var(--brand-darker-color);
    color: var(--brand-text-light-color);
}

a {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 17px;
    line-height: 130%;
    color: var(--brand-dark-color);

    display: inline-block;
    text-decoration: none;
	font: inherit;
    cursor: pointer;
}

a:hover {
    font-weight: bold;
}

.cart__confirm-btn {
    width: 94px;
    padding: 4px 13px;
    background-color: var(--brand-color);
    color: var(--brand-text-light-color);
    border-radius: 100px;
}

.cart__confirm-btn:hover {
    background-color: var(--brand-darker-color);
    font-weight: 300;
}


h3 {
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
}

.cart {
    display: block;
    position: fixed;
    top: 70px;
    right: 164px;
    border: 1px solid lightgray;
    min-width: 300px;
    z-index: 5;
}

.cart__wrapper {
    min-width: 500px;
    padding: 20px 30px;
    background-color: #fff;
    color: var(--brand-text-color);
}

.cart__header{
    border-bottom: 3px solid var(--brand-accent);
    padding-bottom: 6px;
}

.cart__book {
    display: grid;
    grid-template-columns: 210px 130px 20px 40px 10px;
    grid-gap: 30px;
    justify-content: center;
    align-items: baseline;
    padding-bottom: 20px;
}

.cart__book-count-btn:not([disabled]) {
    display: inline;
    color: var(--brand-text-color);
    background-color: inherit;
    padding: 0;
    border: 0;
    cursor: pointer;
}


.cart__book-count-btn:not([disabled]):hover {
    display: inline;
    color: var(--brand-dark-color);
    background-color: inherit;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.cart__book-count-btn:disabled {
    color: gray;
    background-color: inherit;
    padding: 0;
    border: 0;
    cursor: default;
}

.cart__book-count-value {
    margin: 0 5px;
}

.cart__book-remove:hover {
    color: var(--brand-dark-color);
    cursor: pointer;
}

.cart__total-sum {
    padding-bottom: 20px;
}

.cart__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button.cart__clear-btn {
    border: 0;
    padding: 0;
    margin-right: 10px;
    background-color: inherit;
    color: var(--brand-color);
}

button.cart__clear-btn:hover {
    background-color: inherit;
    color: var(--brand-dark-color);
}