:root{
    --brand-violet: #cab3f5;
    --brand-darker-violet: #b490f6;
    --brand-dark-violet: #803ef9;
    --brand-accent: orchid;
    --brand-darker-accent: mediumorchid;
    --brand-dark-accent: darkorchid;

    --brand-danger: #ff0076;
    --brand-focus: #ff683b;
    --brand-highlight: #ffa600;

    --brand-text-color: #545454;
}

body {
    max-width: 1280px;
    margin: 0 auto;
    color: var(--brand-text-color);
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid gray;
    vertical-align: text-top;
    color: var(--brand-dark-violet);
}

input[type='checkbox']::before {
    content: "✔";
    position: absolute;
    right: -1px;
    top: -0.3em;
    font-size: 1.2em;
    visibility: hidden;
}

input[type='checkbox']:checked::before {
    visibility: visible;
}

input[type="checkbox"]:disabled {
  border-color: lightgray;
  background: #eee;
  color: gray;
}

input[type='radio'] {
    appearance: none;
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid gray;
    vertical-align: text-top;
    color: var(--brand-dark-violet);
}

input[type='radio']::before {
    content: "●";
    position: absolute;
    right: 2px;
    top: -0.24em;
    font-size: 1.2em;
    visibility: hidden;
}

input[type='radio']:checked::before {
    visibility: visible;
}

input:invalid {
    border: 1px solid var(--brand-danger);
}

input:active {
    border: 1px solid var(--brand-highlight);
}

.header {
    height: 50px;
    background-color: var(--brand-darker-violet);
}

.header__ico {
    padding: 6px;
    color: white;
    border: 1px outset var(--brand-accent);
}

.header__bag-ico {
    width: 20px;
}

.footer {
    height: 50px;
}

div, h1, h2, h3, h4, p {
    font-style: normal;
    font-weight: 400;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

button, .button {
    padding: 10px 32px;;
    background: var(--brand-darker-violet);
    border: 0;
    border-radius: 100px;
    cursor: pointer;
}

button:disabled {
    background-color: var(--brand-violet);
    color: gray;
}

button:not([disabled]):hover {
    background-color: var(--brand-dark-accent);
    color: white;
}

button:not([disabled]) {
    background-color: var(--brand-darker-accent);
    color: white;
}

a {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 17px;
    line-height: 130%;
    color: var(--brand-dark-violet);

    display: inline-block;
    text-decoration: none;
	font: inherit;
    cursor: pointer;
}

a:hover {
    font-weight: bold;
}


h3 {
    font-family: 'Georgia', 'Roboto Serif', serif;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
}

.cart {
    display: none;
    position: fixed;
    top: 30px;
    right: 15px;
    border: 1px solid black;
    z-index: 9;
}

.cart__form {
    max-width: 300px;
    padding: 10px;
    background-color: #fff;
}

.cart__header {

}

.cart__books {
    display: grid;
    grid-template-columns: 1fr 30px 10px 10px;
}